.App {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    padding: 1.25em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
    filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.description {
    font-size: 0.9em;
    font-weight: 500;
}

.hint {
    font-style: normal;
    text-align: center;
    font-weight: 100;
    font-size: 0.8rem;
    margin: 0;
}

.mainHeader {
    font-size: 2.5em;
}

.form {
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
    margin: 1em 0px 0px;
    padding: 1em 1.1em;
    border-radius: 0.3em;
}